@import "tailwindcss";

@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/mdc-dark-indigo/theme.css";

#menu a {
  transition: 0.32s ease-in-out;
}

/* @CSS PAGE AUTHENTICATION */

#auth-galeria .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
  /* background: none !important; */
  border-radius: 4px;
}

#auth-galeria
  .p-galleria.p-galleria-indicator-onitem
  .p-galleria-indicators
  button {
  /* background-color: #c2c2c2 !important; */
  background-color: #f9f9f9 !important;
  transition: ease-in-out 0.32s !important;
}

#auth-galeria
  .p-galleria.p-galleria-indicator-onitem
  .p-galleria-indicators
  .p-highlight
  button {
  /* background-color: #fff !important; */
  background-color: #820ad1 !important;
  transition: ease-in-out 0.32s !important;
}

/* @CSS PAGE HOME */

#information .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
  background: none;
  bottom: -12px;
}

#information
  .p-galleria.p-galleria-indicator-onitem
  .p-galleria-indicators
  button {
  /* background-color: #c2c2c2 !important; */
  background-color: transparent !important;
  transition: ease-in-out 0.32s !important;
  border: 1px solid #fff !important;
}

#information
  .p-galleria.p-galleria-indicator-onitem
  .p-galleria-indicators
  .p-highlight
  button {
  /* background-color: #fff !important; */
  background-color: #fff !important;
  transition: ease-in-out 0.32s !important;
  border: 1px solid #fff !important;
}

/* @FOOTER PAGE HOME */

#footer .p-carousel-indicators .p-carousel-indicator button {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: #ccc;
}

#footer .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  /* background-color: #c2c2c2 !important; */
  /* background-color: transparent !important;
  transition: ease-in-out 0.32s !important;
  border: 1px solid #fff !important;
  width: 3px !important;
  height: 3px !important; */
  background-color: #820ad1;
}

/* #footer .p-carousel-indicator button { */
/* background-color: #fff !important; */
/* background-color: #fff !important;
  transition: ease-in-out 0.32s !important;
  border: 1px solid #fff !important; */
/* } */

#grid-page-home {
  display: grid;
  grid-template-areas:
    "account information"
    "footer footer";
  grid-template-columns: 280px 1fr;
  align-items: stretch;
}

#account {
  grid-area: account;
}

#information {
  grid-area: information;
}

#footer {
  grid-area: footer;
}

#cards-home {
  align-items: start;
}

@keyframes FromUpToDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes FromDownToUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.animate-down {
  opacity: 0;
  animation: FromUpToDown 0.72s forwards;
}

.animate-up {
  opacity: 0;
  animation: FromDownToUp 0.72s forwards;
}
