@import "tailwindcss";

@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/mdc-dark-indigo/theme.css";

#menu a {
  transition: 0.32s ease-in-out;
}

#auth-galeria .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
  /* background: none !important; */
  border-radius: 4px;
}

#auth-galeria
  .p-galleria.p-galleria-indicator-onitem
  .p-galleria-indicators
  button {
  /* background-color: #c2c2c2 !important; */
  background-color: #f9f9f9 !important;
  transition: ease-in-out 0.32s !important;
}

#auth-galeria
  .p-galleria.p-galleria-indicator-onitem
  .p-galleria-indicators
  .p-highlight
  button {
  /* background-color: #fff !important; */
  background-color: #820ad1 !important;
  transition: ease-in-out 0.32s !important;
}
